header{
    padding: 1em;
    color: white;
    background-color: grey;
    clear: left;
    text-align: center;
}

a:link{
	/*방문하지 않은 링크 설정.*/
	text-decoration:none; /*밑줄 안나오도록 처리.*/
	color:blue;
}
a:visited{
	/*방문한 링크 설정*/
	text-decoration: none;
	color:blue;
}
a:hover{
	/*마우스 포인터가 올라간 시점의 설정.*/
	text-decoration: none;
	color:red;
}
a:active{
	/*마우스를 링크에 클릭하는 시점*/       
	color:green;
}

table {
	
    width: 100%;
    border-collapse: collapse;
	text-align: center;
	border: 1px solid gray;
	
	table-layout:fixed;	
	margin-left: auto;
	margin-right: auto;
}
 th {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
	padding: 5px 10px;
}

td {
    border-bottom: 1px solid #c8c8c8;
	padding: 5px 10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

form {
	padding: 10px 5px;
	float: right;
}

p, h2{
	text-align:center;
	vertical-align:middle;
	.align-center { text-align: center; }
}

tr:hover{background-color:#f5f5f5}

span{
	text-align: left;
}


}

.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:center;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}


.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}

}
