<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>LibraryManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <!--Filter  -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>kr.co.library.filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
	<!--여기서 url패턴은 : 사용자가 요청한 url의 서블릿/jsp의 실행전후로 일해라.  -->  
  </filter-mapping>
  
  <context-param>
    <param-name>rootPath</param-name>
    <param-value>/LibraryManage</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>RentalList</servlet-name>
    <servlet-class>kr.co.library.controller.RentalListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalList</servlet-name>
    <url-pattern>/RentalList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WaitList</servlet-name>
    <servlet-class>kr.co.library.controller.WaitListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitList</servlet-name>
    <url-pattern>/WaitList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BookSearchByKeyword</servlet-name>
    <servlet-class>kr.co.library.controller.BookSearchByKeywordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearchByKeyword</servlet-name>
    <url-pattern>/BookSearchByKeyword</url-pattern>
  </servlet-mapping>
  
  <!-- 김진광 -대여신청완료 -->
  <servlet>
  	<servlet-name>rentBook</servlet-name>
  	<servlet-class>kr.co.library.controller.RentBookController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>rentBook</servlet-name>
  	<url-pattern>/rentBook</url-pattern>
  </servlet-mapping>
  <!-- 김진광-대기자신청 -->
  <servlet>
  	<servlet-name>waitListInsert</servlet-name>
  	<servlet-class>kr.co.library.controller.WaitListInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>waitListInsert</servlet-name>
  	<url-pattern>/waitListInsert</url-pattern>
  </servlet-mapping>
  <!-- 김진광-대기취소 -->
  <servlet>
  	<servlet-name>waitListCancel</servlet-name>
  	<servlet-class>kr.co.library.controller.WaitListCancelController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>waitListCancel</servlet-name>
  	<url-pattern>/waitListCancel</url-pattern>
  </servlet-mapping>
  <!-- 왕준 : UserInfoReferServlet 등록 -->
  <servlet>
  	<servlet-name>userInfoRefer</servlet-name>
  	<servlet-class>kr.co.library.controller.UserInfoReferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userInfoRefer</servlet-name>
  	<url-pattern>/userInfoRefer</url-pattern>
  </servlet-mapping>
  

  <!--박연수 책추가 -->
  <servlet>
  	<servlet-name>addbook</servlet-name>
  	<servlet-class>kr.co.library.controller.AddBookController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addbook</servlet-name>
  	<url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  
  <!--박연수 책수정 -->
  <servlet>
  	<servlet-name>updatebook</servlet-name>
  	<servlet-class>kr.co.library.controller.UpdateBookController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>updatebook</servlet-name>
  	<url-pattern>/updateBook</url-pattern>
  </servlet-mapping>
  
  <!--박연수 책삭제-->
    <servlet>
  	<servlet-name>deletebook</servlet-name>
  	<servlet-class>kr.co.library.controller.DeleteBookController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deletebook</servlet-name>
  	<url-pattern>/deleteBook</url-pattern>
  </servlet-mapping>
  
  <!--박연수 반납-->
   <servlet>
  	<servlet-name>returnbook</servlet-name>
  	<servlet-class>kr.co.library.controller.ReturnBookController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>returnbook</servlet-name>
  	<url-pattern>/returnBook</url-pattern>
  </servlet-mapping>
  
  
  
  

  <!-- 왕준 : UserCreateServlet 등록 -->
  <servlet>
  	<servlet-name>userCreate</servlet-name>
  	<servlet-class>kr.co.library.controller.UserCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userCreate</servlet-name>
  	<url-pattern>/userCreate</url-pattern>
  </servlet-mapping>

</web-app>