<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>LibraryManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>rootPath</param-name>
    <param-value>/LibraryManage</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>RentalList</servlet-name>
    <servlet-class>kr.co.library.controller.RentalListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalList</servlet-name>
    <url-pattern>/RentalList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WaitList</servlet-name>
    <servlet-class>kr.co.library.controller.WaitListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitList</servlet-name>
    <url-pattern>/WaitList</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BookSearchByKeyword</servlet-name>
    <servlet-class>kr.co.library.controller.BookSearchByKeywordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearchByKeyword</servlet-name>
    <url-pattern>/BookSearchByKeyword</url-pattern>
  </servlet-mapping>
  

  <!--손용훈 로그인 -->
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>kr.co.library.controller.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <!--손용훈 로그아웃 -->
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>kr.co.library.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <!-- 김진광 -대여신청완료 -->
  <servlet>
  	<servlet-name>rentBook</servlet-name>
  	<servlet-class>kr.co.library.controller.RentBookController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>rentBook</servlet-name>
  	<url-pattern>/rentBook</url-pattern>
  </servlet-mapping>
  <!-- 김진광-대기자신청 -->
  <servlet>
  	<servlet-name>waitListInsert</servlet-name>
  	<servlet-class>kr.co.library.controller.WaitListInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>waitListInsert</servlet-name>
  	<url-pattern>/waitListInsert</url-pattern>
  </servlet-mapping>
  <!-- 김진광-대기취소 -->
  <servlet>
  	<servlet-name>waitListCancel</servlet-name>
  	<servlet-class>kr.co.library.controller.WaitListCancelController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>waitListCancel</servlet-name>
  	<url-pattern>/waitListCancel</url-pattern>
  </servlet-mapping>

  
</web-app>